<section class="jumbotron whole-page new-trip">
	<div class="container">
		<h1>Ready for a New Adventure?</h1>
		<div class="form-panel">
			<h2 class="divided">Create a New Trip</h2>
				<%= render 'form' %>
		</div>
	</div>
</section>
<script>
	var autoComplete = new google.maps.places.Autocomplete(   
	document.getElementById(search), {
	  types: ['(cities)']
	});
	google.maps.event.addDomListener(window, 'load', initAutoComplete);
</script>
