<head>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=places"></script>
</head>
<section class="jumbotron whole-page new-trip">
	<div class="container">
		<h1>Ready for a New Adventure?</h1>
		<div class="form-panel">
			<h2 class="divided">Create a New Trip</h2>
				<%= render 'form' %>
		</div>
	</div>

  </section>
  <script type="text/javascript">
$(document).ready(function(){

    //Autocomplete variables
    var input = document.getElementById('trip_origin');
    var input1 = document.getElementById('trip_destination');
    // var searchform = document.getElementById('form1');
    var place;
    var autocomplete = new google.maps.places.Autocomplete(input);
    var autocomplete = new google.maps.places.Autocomplete(input1);
 
    //Google Map variables
    // var map;
    // var marker;

 });
</script>

</section>

