<section class="jumbotron whole-page new-trip">
	<div class="container">
		<h1>Ready for a New Adventure?</h1>
		<div class="form-panel">
			<h2 class="divided">Create a New Trip</h2>
				<%= render 'form' %>
		</div>
	</div>
</section>
